html{
    width: 100%;
    height: 100%;
    margin : 0;
    background-color: black;
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
}
.v{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video{
    width: 90%;
    height: 80%;
}

