html{
    width: 100%;
    height: 100%;
    margin : 0;
    background-color: rgb(9, 24, 77);
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
}
#ll{
    margin-top: 2%;
    height: 7%;
    display: flex;
    justify-content: center;
}
.v{ 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video{
    border-style: solid;
    border-color: yellow;
    width: 80%;
    height: 69%;
}
nav{
    width: 95%;
    height: 100%;
    border-style: solid;
    border-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
#jj{
    margin-left: 3%;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: start;
}
#jj > div{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kk{
    margin-left: 5%;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: end;
}

#kk > div{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    border-radius: 4%;
    margin-right: 5%;
}

.navbutton1{
    width: 30%;
    height: 90%;
}
#img1{
    width: 100%;
    height: 100%;
}
h2{
    color: white;
    font-style: oblique;
}
a{
    margin-left: 5%;
}
a:hover > h2{
    color: gold;
}
.bottom{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.bottom > div> h1,h3{
    color: white;
    
}

.bottom > div{
    margin-left: 3%;
    margin-right: 3%;
}

.reg{
    margin: 0;
    width:  80%;
    height: 70%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-bottom: 8%;
    
}
.container{
    background-color: white;
    display: block;
    justify-content: center;
    margin: 0;
    width: 35%;
    height: 60%;
}

#z{
    display: flex;
    justify-content: end;
}

#z > h2{
    color: blue;
    margin-right: 5%;
}

.container >img{
    width: 50%;
    height: 40%;
    margin-left: 22%;
}

.container > h1{
    margin-left: 35%;
    color:blue; 
}
.kl{
    width: 100%;
    height: 70%;
    margin: 0;
    background-color: white;
}

input{
    width: 70%;
    height: 20%;
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 15%;
    border-color: rgb(220, 220, 220);
    border: solid;
    position:relative;
}

.yy{
    width: 100%;
    height: 30%;
    margin:0;
    background-color: white;
}

#cr{
    height: 50%;
}

.reg{
    display: none;
}

.fp{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    margin-top: 2%;
}

#fpa{
    width: 50%;
    height: 100%;
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fpa > div> h1{
    color: brown;
}

#fpb{
    width: 50%;
    height: 100%;
    background-image: url(img/gb.png);
}

.gameInfo{
    width: 100%;
    height: 220%;
    display: flex;
   justify-content: center;
   margin-top: 5%;
}

.gg{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.gameInfo > div{
    width: 80%;
    margin-top: 5%;
}
.gameInfo > div > .gg > div > h1{
    color: gold;
}

.gameInfo > div > .gg > div{
    display: block;
    justify-content: center;
    /* align-items: center; */
    margin-right: 10%;
}

.gameInfo > div > .gg > div > h3{
    font-style:unset;
}
p{
    color: aliceblue;
}

a{
    text-decoration: none;
}
.fp{
    display: flex;
    justify-content: center;
}

.fp > img{
    margin-top: 6%;
   width: 100%;
   height: 140%;
}
.ui{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ui > div > h1{
    text-align: center;
    font-size: 350%
}

.hj{
    width: 100%;
    height: 60%;
    background-color: darkred;
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

#kino{
    width: 100%;
    height: 60%;
    display: none;
}
#m1k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m1b.png);

    background-repeat: no-repeat;
    background-size: 100%;
}

#m1k > div{
    width: 45%;
    margin-left: 10%;
}
#m1k > div > img{
    margin-left: 9%;
}

#m2k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m2b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m2k > div{
    width: 45%;
    margin-left: 10%;
}
#m2k > div > img{
    margin-left: 9%;
}

#m3k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m3b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m3k > div{
    width: 45%;
    margin-left: 10%;
}
#m3k > div > img{
    margin-left: 9%;
}

#m4k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m4b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m4k > div{
    width: 45%;
    margin-left: 10%;
}
#m4k > div > img{
    margin-left: 9%;
}

#m5k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m5b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m5k > div{
    width: 45%;
    margin-left: 10%;
}
#m5k > div > img{
    margin-left: 9%;
}

#m6k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m6b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m6k > div{
    width: 45%;
    margin-left: 10%;
}
#m6k > div > img{
    margin-left: 9%;
}

#m7k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m7b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m7k > div{
    width: 45%;
    margin-left: 10%;
}
#m7k > div > img{
    margin-left: 9%;
}

#m8k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m8b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m8k > div{
    width: 45%;
    margin-left: 10%;
}
#m8k > div > img{
    margin-left: 9%;
}

#m9k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m9b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m9k > div{
    width: 45%;
    margin-left: 10%;
}
#m9k > div > img{
    margin-left: 9%;
}

#m10k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m10b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m10k > div{
    width: 45%;
    margin-left: 10%;
}
#m10k > div > img{
    margin-left: 9%;
}