html{
    width: 100%;
    height: 100%;
    margin : 0;
    background-color: rgb(9, 24, 77);
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
}
#ll{
    margin-top: 2%;
    height: 7%;
    display: flex;
    justify-content: center;
}
.v{ 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video{
    border-style: solid;
    border-color: yellow;
    width: 80%;
    height: 69%;
}
nav{
    width: 95%;
    height: 100%;
    border-style: solid;
    border-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
#jj{
    margin-left: 3%;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: start;
}
#jj > div{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kk{
    margin-left: 5%;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: end;
    
}
#dddd{
    cursor: pointer;
}
#kk > div{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    border-radius: 4%;
    margin-right: 5%;
}

.navbutton1{
    width: 30%;
    height: 90%;
}
#img1{
    width: 100%;
    height: 100%;
}
h2{
    color: white;
    font-style: oblique;
}
a{
    margin-left: 5%;
}
a:hover > h2{
    color: gold;
}
.bottom{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.bottom > div> h1,h3{
    color: white;
    
}

.bottom > div{
    margin-left: 3%;
    margin-right: 3%;
}

.reg{
    margin: 0;
    margin-left: 50%;
    width:  80%;
    height: 70%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-bottom: 8%;
    
}
.reg.active{

    display: block;
}
.reg2{
    margin: 0;
    margin-left: 50%;
    width:  80%;
    height: 70%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-bottom: 8%;
    
}
.reg2.active{

    display: block;
}
.container{
    background-color: white;
    display: block;
    justify-content: center;
    margin: 0;
    width: 35%;
    height: 60%;
}

#z{
    display: flex;
    justify-content: end;

}

#z > h2{
    color: blue;
    margin-right: 5%;
}

.container >img{
    width: 50%;
    height: 40%;
    margin-left: 22%;
}

.container > h1{
    margin-left: 35%;
    color:blue; 
}
.kl{
    width: 100%;
    height: 70%;
    margin: 0;
    background-color: white;
    
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
    
}

input{
    width: 70%;
    height: 20%;
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 15%;
    border-color: rgb(220, 220, 220);
    border: solid;
    position:relative;
}

.yy{
    width: 100%;
    height: 30%;
    margin:0;
    background-color: white;
}

#cr{
    height: 50%;
}

.reg{
    display: none;
}

.fp{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    margin-top: 2%;
}

#fpa{
    width: 50%;
    height: 100%;
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fpa > div> h1{
    color: brown;
}

#fpb{
    width: 50%;
    height: 100%;
    background-image: url(img/gb.png);
}

.gameInfo{
    width: 100%;
    height: 220%;
    display: flex;
   justify-content: center;
   margin-top: 5%;
}

.gg{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.gameInfo > div{
    width: 80%;
    margin-top: 5%;
}
.gameInfo > div > .gg > div > h1{
    color: gold;
}

.gameInfo > div > .gg > div{
    display: block;
    justify-content: center;
    /* align-items: center; */
    margin-right: 10%;
}

.gameInfo > div > .gg > div > h3{
    font-style:unset;
}
p{
    color: aliceblue;
}

a{
    text-decoration: none;
}
.fp{
    display: flex;
    justify-content: center;
}

.fp > img{
    margin-top: 6%;
   width: 100%;
   height: 140%;
}
.ui{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ui > div > h1{
    text-align: center;
    font-size: 350%
}

.hj{
    width: 100%;
    height: 60%;
    background-color: darkred;
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

#kino{
    width: 100%;
    height: 60%;
    display: none;
}
#m1k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m1b.png);

    background-repeat: no-repeat;
    background-size: 100%;
}

#m1k > div{
    width: 45%;
    margin-left: 10%;
}
#m1k > div > img{
    margin-left: 9%;
}

#m2k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m2b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m2k > div{
    width: 45%;
    margin-left: 10%;
}
#m2k > div > img{
    margin-left: 9%;
}

#m3k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m3b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m3k > div{
    width: 45%;
    margin-left: 10%;
}
#m3k > div > img{
    margin-left: 9%;
}

#m4k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m4b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m4k > div{
    width: 45%;
    margin-left: 10%;
}
#m4k > div > img{
    margin-left: 9%;
}

#m5k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m5b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m5k > div{
    width: 45%;
    margin-left: 10%;
}
#m5k > div > img{
    margin-left: 9%;
}

#m6k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m6b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m6k > div{
    width: 45%;
    margin-left: 10%;
}
#m6k > div > img{
    margin-left: 9%;
}

#m7k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m7b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m7k > div{
    width: 45%;
    margin-left: 10%;
}
#m7k > div > img{
    margin-left: 9%;
}

#m8k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m8b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m8k > div{
    width: 45%;
    margin-left: 10%;
}
#m8k > div > img{
    margin-left: 9%;
}

#m9k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m9b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m9k > div{
    width: 45%;
    margin-left: 10%;
}
#m9k > div > img{
    margin-left: 9%;
}

#m10k{
    margin-left: 1%;
    width: 98%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    display: none;
    background-image: url(img/m10b.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
}

#m10k > div{
    width: 45%;
    margin-left: 10%;
}
#m10k > div > img{
    margin-left: 9%;
}
#iok{
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
#iok > img{
    width: 90%;
    height: 100%;
}

#ior{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

#ior> div{
    width: 70%;
    height: 100%;
}

#ior >div> h1,h3{
    text-align: center;
}

#comic1{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/combac1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#comic1 > div{
    width: 50%;
    height: 80%;
    margin-right: 2%;
}
#jklo{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#cms1{
    width: 400px;
    height: 420px;
}
#comic1 > div > h1{
    color: gold;
}
#comic1 > div > h2{
    color:brown;
}

#comic2{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/commic2bac.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 2%;
}

#comic2 > div{
width: 50%;
height: 70%;
margin-right: 8%;
}

#comic2 > div > h1,h2,h3{
    text-align: center;
    
}

#ghf{
    display: flex;
    justify-content: center;
    align-items: center;
}

#comic2 > div > h1{
    color: gold;
}
#comic2 > div > h2{
    color: brown;
}

#comic3{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/commbac3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 2%;
}

#comic3 > div{
    width: 50%;
    height: 70%;
    margin-right: 8%;
}

#imgccc{
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgccc > img{
    width: 300px;
    height: 400px;
}

#comic3 > div > h1{
    color: gold;
    text-align: center;
}

#comic3 > div > h3{
    color: brown;
    font-size: 150%;
}

#comic3 > div > a{
    font-size: 130%;
    color:black;
}

@media screen and (max-width: 412px){
    #jj{
        width: 270%;
    }

    .navbutton1{
        margin-left: 60px;
        width: 80px;
    }

    #img1{
        width: 60px;
        padding-left: 0;
    }

    #jj > div > a, h2{
        font-size: 90%;
    }

    #kk{
        display: flex;
        justify-content: start;
    }
    #kk > div {
        width: 30px;
    }
    #kk > div > a{
        width: 30px;
    }
    #kk > div >a > h2{
        width: 30px;
    }

    .fp{
        height: 25%;
    }

    #fpa > div > h1{
        text-align: center;
    }

    #imge1{
        width: 140px;
        height: 100%;
    }

    .gg > div >h1{
        font-size: 55%;
    }
    .gg > div >h2{
        font-size: 55%;
    }
    .gg > div >h3{
        font-size: 55%;
    }
    .gg > div >p{
        font-size: 55%;
    }
    #img2{
        width: 140px;
        height: 100%;
    }

    #img3{
        width: 140px;
        height: 100%;
    }

    .gameInfo {
        height: 700px;
    }

    .bottom{
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottom > div > img{
        margin-top: 15px;
        width: 90px;
        height: 60px;
    }

    .bottom >div{
        width: 30%;
        height: 90%;
    }
    .bottom > div > h3{
        font-size: 10px;
    }

    #comic1{
        height: 40%;
        background-color: black;
    }

    #cms1{
        width: 130px;
        height: 190px;
        margin-top: 20px;
    }

    #comic1 > div > h1{
        font-size: 100%;
    }
    #comic1 > div > h2{
        font-size: 100%;
        height: 50%;
    }

    #comic2{
        height: 50%;
    }

    #ghf > img{
        width: 200px;
        height: 320px;
    }

    #comic2 > div > h1{
        font-size: 100%;
    }

    #comic3{
        height: 50%;
    }

    #imgccc > img{
        width: 200px;
        height: 300px;
    }

    #comic3 > div > h1{
        font-size: 100%;
        color: black;
        background-color: aliceblue;
    }

    #comic3 > div > h3{
        font-size: 100%;
        color: aliceblue;
    }
    .v{
        height: 23%;
    }
    .bottom{
        margin-top: 500px;
    }

}

@media screen and (width: 820px) {
    #jj{
        width: 340%;
    }

    .navbutton1{
        width: 140px;
        margin-left: 95px;
    }
    #img1{
        width: 120px;
    }

    #kk{
        display: flex;
        justify-content: center;
    }

    #kk > div{
        width: 100px;
    }

    #fpa > div > h1{
        text-align: center;
    }

    .gameInfo {
        height: 1500px;
    }

    .gg > div > h1{
        font-size: 130%;
        width: 200px;
    }
    .gg > div > h2{
        font-size: 70%;
        background-color: aliceblue;
    }
    .gg > div > h3{
        font-size: 80%;
        background-color: aliceblue;
    }
    .gg > div > p{
        font-size: 80%;
    }

    #comic1{
        background-color: black;
    }

    #cms1{
        margin-top: 50px;
    }

    #comic2{
        background-color:rgb(97, 127, 245);
    }
    .v{
        height: 35%;
    }

    .bottom{
        margin-top: 490px;
    }
}


@media(max-width:820px){
    #choice{
        padding-top: 20%;
        width: 80%;
    }
    #sozlar1,#sozlar2,#sozlar3,#sozlar4,#sozlar5{
        width: 400px;
        margin-left: 30%;
    }
    #i1,#i2,#i3,#i4,#i5{
        margin-left: 15%;
    }
    #last{
        width: 150%;
        margin-left: 0%;
    }
    #ast{
        width: 100%;
        margin-left: 20%;
    }

}


@media(max-width:820px){

     #ll0{
        height: 6%;
        width: 100%;
    }
     #jj{
        width: 100%;
        margin-left: 0%;
        justify-content: space-between;
    }
    h2{
        font-size: 30px;
        margin-left: 15%;
    }
    a{
      margin-left: 2%; 
    }
    #jj > div{
        width: 100%;
    }
    .navbutton1{
        width: 15%;
    }


}

@media(max-width:360px){
    #choice{
        padding-top: 60%;
        padding-left: 45%;
        width: 180%;
        font-size: 40px;
    }
    #last{
        width: 370%;

    }
    #ast{
        display: none;
        justify-content: space-between;
        margin-left: 50%;
    }
    

}

@media(max-width:360px){
    #jj{
        margin-left: 3%;
    }
}